<div id="rsvp-form"></div>

<%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' if Rails.env.development? %>
